/* global-rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --transparent-color: rgb(15 116 143 / 70%);
    --main-margin: 100px;
    --main-transition: 0.3s;
    --main-padding: 100px;
    --section-background-color: #ececec;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:  "Open Sans", sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.main-title{
    position: relative;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    width: fit-content;
    z-index: 1;
    transition: var(--main-transition);
    text-transform: uppercase;
}
.main-title::before{
    content: "";
    position: absolute;
    width: 12px;
    background-color: var(--main-color);
    height: 12px;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::after{
    content: "";
    position: absolute;
    width: 12px;
    background-color: var(--main-color);
    height: 12px;
    border-radius: 50%;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.main-title:hover::before{
   z-index: -1;
   animation: left-move 0.5s linear forwards;
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
 }
 .dots{
    position: absolute;
    background-image: url(../images/dots.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 186px;
 }
 .dots-up{
    right: 0;
    top: 200px;
}
.dots-down{
    left: 0;
    bottom: 200px;
}
.spikes{
    position: relative;
}
.spikes::after{
    content: "";
    position: absolute;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* header */
.header{
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo{
    font-size: 26px;
    font-weight: bold;
    color: var(--main-color);
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .main-nav{
    display: flex;
}
.header .main-nav > li:hover .mega-menu{
    z-index: 100;
    opacity: 1;
    top: calc(100% + 2px);
}
.header .main-nav > li > a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: black;
    height: 73px;
    padding: 0 30px;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
}
.header .main-nav > li > a::before{
    content: "";
    position: absolute;
    height: 4px;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    width: 100%;
    transition: var(--main-transition);
}
.header .main-nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
.header .main-nav > li > a:hover::before{
    left: 0;
}
@media (max-width: 767px){
    .header .logo{
        width: 100%;
        height: 50px;
    }
    .header .main-nav{
        margin: auto;
    }
    .header .main-nav > li > a{
        font-size: 14px;
        height: 40px;
        padding: 10px;
    }
}
.header .mega-menu{
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    width: 100%;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    text-wrap: nowrap;
    gap: 40px;
    background-color: white;
    z-index: -1;
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px){
    .header .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
    .header .container .mega-menu .links:first-of-type li:last-child{
        border-bottom: 2px solid #e9e6e6;
    }
}
.header .container .mega-menu .image img{
    max-width: 100%;
}
.header .container .mega-menu .links{
    min-width: 240px;
    flex: 1;
}
.header .container .mega-menu .links li{
    position: relative;
}
.header .container .mega-menu .links li:not(:last-child){
    border-bottom: 2px solid #e9e6e6;
}
.header .container .mega-menu .links li::before{
    content: "";
    position: absolute;
    background-color: #fafafa;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    transition: var(--main-transition);
    z-index: -1;
}
.header .container .mega-menu .links li:hover::before{
    width: 100%;
}
.header .container .mega-menu .links a{
    color: var(--main-color);
    text-transform: capitalize;
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
.header .container .mega-menu .links a i{
    margin-right: 10px;
}
@media (max-width: 991px){
    .header .container .mega-menu .image{
        display: none;
    }
}
/* landing */
.land{
    position: relative;
    margin-top: var(--main-margin);
}
.land .container{
min-height: calc(100vh - 73px);
display: flex;
align-items: center;
padding-bottom: 375px;
}
.land::before{
    content: "";
    top: -100px;
    left: 0;
    position: absolute;
    background-color: #ececec;
    width: 100%;
    height: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1;
}
.land .image img{
    position: relative;
    width: 350px;
    animation: up-down 5s linear infinite;
}
@media (max-width: 991px){
    .land .image{
        display: none;
    }
    .land .container .text{
        text-align: center;
    }
}
.land .container .text{
    flex: 1;
}
.land .container .text h1{
    margin: 0;
    letter-spacing: -2px;
    font-size: 40px;
}
.land .container .text p{
    line-height: 2;
    font-size: 24px;
    color: #666;
    margin: 5px 0 0;
    max-width: 500px;
}
@media (max-width: 991px){
    .land  .container .text p{
        margin: 10px auto;
    }
}
@media (max-width: 767px){
    .land .container .text h1{
        font-size: 26px;
    }
    .land .container .text p{
        font-size: 14px;
    }
}
.land .go-down{
    position: absolute;
    color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    transition: var(--main-transition);
}
.land .go-down:hover{
    color: #205c8d;
}
.land .go-down i{
   animation: bouncing 1.5s infinite;
}
/* articles*/
.Articles{
   position: relative;
   padding-top: var(--main-padding);
   padding-bottom: var(--main-padding);
}
.Articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.Articles .box{
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.Articles .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 40%);
}
.Articles .box img{
    width: 100%;
    max-width: 100%;
    height: 287px;
}
.Articles .content{
    padding: 20px;
}
.Articles .content h3{
    margin: 0;
}
.Articles .content p{
    color: #777;
    margin: 10px 0 0;
    line-height: 1.5;
}
.Articles .info{
    padding: 20px;
    border-top: 1px solid #E6E6E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Articles .info a{
    color: var(--main-color);
    font-weight: bold;
}
.Articles .info i{
    color: var(--main-color);
}
.Articles .box:hover .info i{
    animation: moving-arrow 0.6s linear infinite;
}
/* gallery */
.gallery{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: var(--section-background-color);
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .box{
    padding: 15px;
    background-color: white;
    box-shadow: 0, 12px, 20px, 0 rgb(0 0 0 / 13%), 0, 2px, 4px, 0 rgb(0 0 0 / 12%);
}
.gallery .box .image{
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgb(255 255 255 / 20%);
    z-index: 2;
}
.gallery .box .image:hover::before{
   animation: flashing 0.7s;
}
.gallery .box img{
    width: 100%;
    height: 100%;
    transition: var(--main-transition);
}
.gallery .box .image:hover img{
    transform: rotate(5deg) scale(1.1);
}
/* features */
.features{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
    background-color: white;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .box{
    text-align: center;
    border: 1px solid #ccc;
}
.features .box .image{
    position: relative;
    overflow: hidden;
}
.features .box:nth-child(1) .image::before{
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff000073;
}
.features .image::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .box:hover .image::after{
    border-width: 170px 500px 170px 0px;
}
.features .box:nth-child(2) .image::before{
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 150 136 / 60%);
}
.features .box:nth-child(3) .image::before{
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(3 169 244 / 60%);
}
.features .box .image img{
    width: 100%;
    height: 300px;
}
.features .text h3{
    font-size: 40px;
    font-weight: bold;
    position: relative;
    margin: auto;
    width: fit-content;
}
.features .box:nth-child(1) h3::after{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    bottom: -20px;
    left: 15px;
    background-color: rgb(225 0 0);
}
.features .box:nth-child(2) h3::after{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    bottom: -20px;
    left: 15px;
    background-color: #009688;
}
.features .box:nth-child(3) h3::after{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 5px;
    bottom: -20px;
    left: 15px;
    background-color: #03a9f4;
}
.features .text p{
    line-height: 2;
    font-weight: bold;
    font-size: 20px;
    padding: 25px;
    margin: 30px 0;
    color: #777;
}
.features .info{
    margin: 0 auto 40px;
}
.features .info a{
    font-size: 28px;
    font-weight: bold;
    padding: 10px 30px;
    border: 2px solid;
    width: fit-content;
    border-radius: 6px;
    transition: var(--main-transition);
}
.features .box:nth-child(1) .info a{
    border-color: red;
    color: red;
    background: linear-gradient(to right, red 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:nth-child(2) .info a{
    border-color: #009688;
    color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:nth-child(3) .info a{
    border-color: #03a9f4;
    color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:hover .info a{
    background-position: left bottom;
    color: white;
}
/* testimonials */
.testimonials{
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-background-color);
}
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box{
    position: relative;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}
.testimonials .box .image img{
   width: 70px;
   height: 70px;
   border-radius: 50%;
   position: absolute;
   right: -10px;
   top: -35px;
   background-color: var(--section-background-color);
}
.testimonials .box h3{
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 20px;
}
.testimonials .box span{
    color: #777;
    font-size: 18px;
    text-transform: capitalize;
}
.testimonials .box .rate .filled{
    color: #ffc107;
    margin-top: 10px;
    font-size: 20px;
}
.testimonials .box p{
    margin-top: 10px;
    margin-bottom: 0;
    color: #777;
    line-height: 1.5;
}
/* team members */
.team{
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: white;
}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}
.team .box{
    position: relative;
    z-index: 0;
}
.team .box .data{
    display: flex;
    padding-top: 60px;
    align-items: center;
}
.team .box .data img{
    width: calc(100% - 60px);
    height: 385px;
    border-radius: 10px;
}
.team .box:hover img{
    filter: grayscale(100%);
}
.team .box::before,
.team .box::after {
    content: "";
    position: absolute;
    background-color: #f3f3f3;
    top: 0;
   right: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box::before{
    width: calc(100% - 60px);
    z-index: -2;
}
.team .box::after{
    background-color: #e4e4e4;
    width: 0;
    z-index: -1;
}
.team .box:hover::after{
    width: calc(100% - 60px);
}
.team .box .icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    gap: 40px;
}
.team .box .icons a{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team .box .icons i{
    color: #777;
    transition: var(--main-transition);
}
.team .box .icons a:hover i{
    color: var(--main-color);
}
.team .box .info{
    margin-left: 80px;
}
.team .info h3{
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 0;
    transition: var(--main-transition);
}
.team .box:hover h3{
    color: #777;
}
.team .info p{
    margin-top: 10px;
    margin-bottom: 25px;
}
/* services */
.services{
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-background-color);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .box{
    position: relative;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    text-align: center;
    counter-increment: services;
    transition: var(--main-transition);
}
.services .box::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.services .box:hover{
    transform: translateY(-10px);
}
.services .box:hover::before{
    width: 100%;
}
.services .box i{
    color: #d5d5d5;
    margin: 40px 0 10px;

}
.services .box h3{
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
}
.services .box .info{
    position: relative;
    text-align: right;
    background-color: #f9f9f9;
   padding: 15px;
}
.services .box .info::before{
    content: "0" counter(services);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    width: 80px;
    height: 100%;
    padding-right: 20px;
    color: white;
    font-weight: bold;
    font-size: 30px;

}
.services .box .info::after{
    content: "";
    position: absolute;
    left: 85px;
    top: 0px;
    width: 60px;
    height: calc(100% + 0.4px);
    background-color: #D5D5D5;
    transform: skewX(-30deg);
}
.services .info a{
    color: var(--main-color);
    font-weight: bold;
}
/* skills */
.skills{
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: white;
}
.skills .container{
    display: flex;
    align-items: center;
    gap: 30px;
}
.skills .container img{
    transform: rotateY(180deg);
}
@media (max-width: 991px){
    .skills .container img{
        display: none;
    }
}
.skills .container .box{
    flex: 1;
}
.skills .box .data h3{
    display: flex;
    justify-content: space-between;
}
.skills .box .data h3 span{
    border: 1px solid #ccc;
    border-radius: 6px;
    color: var(--main-color);
    padding: 3px 5px;
    font-size: 12px;
}
.skills .progress{
    position: relative;
    height: 20px;
    background-color: #eee;
}
.skills .progress span{
    position: absolute;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    height: 100%;
}
.skills .box .data::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #ddd;
}
/* how it works */
.work{
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-background-color);
}
.work .container{
    display: flex;
    align-items: center;
    gap: 60px;
}
.work .container .image img{
    width: 100%;
}
.work .box .step{
    position: relative;
    display: flex;
    margin-bottom: 20px;
    background-color: #f6f5f5;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    transition: var(--main-transition);
    border: 2px solid white;
    border-radius: 6px;
    z-index: 1;
}
.work .box .step::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 0;
    height: 100%;
    background-color: #ededed;
    transition: 0.5s;
    z-index: -1;
}
.work .box .step:hover::before{
    width: 100%;

}
.work .step img{
    width: 64px;
    height: 64px;
    margin-right: 30px;
}
.work .step .data h3{
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}
.work .step .data p{
    color: #777;
    font-size: 16px;
    line-height: 1.7;
}
/* events */
.events{
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: white;
}
.events .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.events .container img{
   max-width: 450px;
}
.events .box{
    flex: 1;
}
.events .timer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    
}
.events .data{
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    width: 80px;
    text-align: center;
    transition: var(--main-transition);
}
.events .data span{
    display: block;
    transition: var(--main-transition);
}
.events .data span:first-child{
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
    padding: 15px;
}
.events .data span:last-child{
    padding: 10px;
    border-top: 1px solid #d4d4d4;
    font-size: 14px;
}
.events .data:hover{
    border: 1px solid var(--main-color);
}
.events .data:hover span:last-child{
    border-top: 1px solid var(--main-color);
}
.events .text h3{
    font-size: 30px;
    text-align: center;
    margin: 40px 0 0;
}
.events .text p{
    text-align: center;
    line-height: 1.7;
    color: #777;
    font-size: 18px;
}
.events form{
    width: 600px;
    margin: 20px auto;
    background-color: #f6f5f5f5;
    display: flex;
    gap: 20px;
    padding: 30px 40px;
    border-radius: 50px;
}
@media (max-width: 767px){
    .events form{
        max-width: 100%;
        padding: 20px;
        border-radius: 0;
        flex-direction: column;
    }
}
.events form input[type="email"]{
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex: 1;
    caret-color: var(--main-color);
}
.events form input[type="email"]:focus{
    outline: none;
}
.events form input[type="email"]::placeholder{
    transition: opacity var(--main-transition);
}
.events form input[type="email"]:focus::placeholder{
   opacity: 0;
}
.events form input[type="submit"]{
    padding: 20px;
    border: none;
    border-radius: 50px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.events form input[type="submit"]:hover{
    background-color: var(--main-color-alt);
}
@media (max-width: 767px){
    .events form input[type="email"]{
        border-radius: 0px;
    }
    .events form input[type="submit"]{
        border-radius: 0;
    }
}
@media (max-width: 991px) {
    .work .container{
        flex-direction: column;
    }
    .work .step{
        flex-direction: column;
        text-align: center;
    }
    .work .step img{
        margin: 0 0 25px;
    }
   .events .container img{
    display: none;
   }
}
/* pricing */
.pricing{
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-background-color);
}
.pricing .container{
 display: flex;
 gap: 30px;
 justify-items: center;
 justify-content: center;
}
.pricing .box{
    position: relative;
    text-align: center;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    z-index: 1;
    min-width: 300px;
}
.pricing .box::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 50%;
    background-color: #f3f3f3;
    transition: var(--main-transition);
    z-index: -1;
}
.pricing .box::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 50%;
    background-color: #f3f3f3;
    transition: var(--main-transition);
    z-index: -1;
}
.pricing .box:hover::before,
.pricing .box:hover::after{
    width: 100%;
}
.pricing .box:nth-child(2){
    top: -20px;
}
.pricing .box:nth-child(2) .text{
    position: absolute;
    top: 0;
    right: 20px;
    width: 40px;
    background-color: var(--main-color);
    padding: 10px 10px 35px 10px;
    color: white;
    writing-mode: vertical-lr;
    font-size: 18px;
    font-weight: bold;
}
.pricing .box:nth-child(2) .text::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border: 20px solid;
    border-color: transparent transparent white transparent;
}
@media (max-width: 991px){
    .pricing .container{
        flex-wrap: wrap;
    }
    .pricing .box{
        min-width: 300px;
    }
    .pricing .box:nth-child(2){
        top: 0;
    }
}
@media (max-width: 767px){
    .pricing .container{
        flex-direction: column;
    }
    .pricing .box:nth-child(2){
        margin-top: 0;
        margin-bottom: 0;
    }
}
.pricing .box h3{
    margin: 30px 0;
    font-size: 25px;
    letter-spacing: -2px;
}
.pricing .box img{
    width: 80px;
}
.pricing .box span{
    display: block;
    font-size: 45px;
    font-weight: bold;
    color: var(--main-color);
    margin: 20px 0 -10px;
}
.pricing .box p{
    font-size: 12px;
    letter-spacing: -1px;
    color: #777;
}
.pricing .box ul{
    text-align: left;
}
.pricing .box ul li {
    position: relative;
    padding: 20px;
    border-top: 1px solid #eee;
}
.pricing .box ul li::before{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}
.pricing .box a{
    display: block;
    width: fit-content;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 10px 15px;
    margin: 30px auto;
    font-weight: bold;
    font-size: 14px;
    transition: var(--main-transition);
}
.pricing .box a:hover{
    background-color: var(--main-color);
    color: white;
    border-color: var(--section-background-color);
}
/* top videos */
.videos{
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: white;
}
.videos .container .holder{
    display: flex;
    justify-content: center;
    border: 1px solid #ddd;
    background-color: var(--section-background-color);
}
.videos .box{
    min-width: 300px;
}
.videos .name{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.videos .name i{
    margin-right: 0;
}
.videos .box ul{
    background-color: white;
    margin: 0;
    padding: 0;

}
.videos .box ul li{
    padding: 20px;
    border-top: 1px solid var(--section-background-color);
    cursor: pointer;
}
.videos .box ul li a{
    color: black;
}
.videos .box ul li a:hover{
    color: var(--main-color);
}
.videos .box ul li span{
    display: block;
    margin-top: 10px;
    color: #777;
}
.videos .image{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.videos .image img{
   max-width: 100%;
}
.videos .image p{
    padding: 20px;
    background-color: white;
}
@media (max-width: 991px){
    .videos .holder{
        flex-direction: column;
    }
}
/* status */
.status{
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image: url(../images/stats.jpg);
    background-size: cover;
    min-height: 300px;
    z-index: 1;
}
.status::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255 255 255 / 95%);
    z-index: -1;
}
.status h2{
    margin: auto;
    width: fit-content;
    letter-spacing: -1px;
    font-size: 40px;
}
.status .container{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 20px;
}
.status .box{
    background-color: white;
    text-align: center;
    padding: 15px 30px;
    position: relative;
    transition: var(--main-transition);
    opacity: 0.8;
}
.status .box::before{
    content: "";
    position: absolute;
    height: 0;
    width: 3px;
    background-color: var(--main-color);
    left: 0;
    top: 0;
    transition: 0.7s;
}
.status .box::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 0;
    background-color: var(--main-color);
    right: 0;
    bottom: 0;
    transition: 0.7s;
}
.status .box:hover::after,
.status .box:hover::before{
    height: 100%;
}
.status .box i{
    padding: 0 40px;
}
.status .number{
    margin: 10px 0 15px;
    font-size: 50px;
    font-weight: bold;
    display: block;
}
.status .text{
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    display: block;
}
/* discount */
.discount{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
.discount .content{
    text-align: center;
    padding: 0 20px;
}
.discount h3{
    font-size: 45px;
    letter-spacing: -2px;
}
.discount .box{
    position: relative;
    background-image: url(../images/discount-background1.jpg);
    background-size: cover ;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    animation: change-background 10s linear infinite;
}
.discount .box::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
.discount .box p{
    font-size: 18px;
    line-height: 2;
    max-width: 500px;
}
.discount .box img{
    width: 300px;
    max-width: 100%;
}
.discount .request{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
@media (min-width: 992px){
    .discount .box,
    .discount .request{
        flex-basis: 50%;
    }
}
.discount .request .input{
    display: block;
    padding: 15px;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    width: 100%;
    caret-color: var(--main-color);
}
.discount .request textarea.input{
    resize: none;
    height: 200px;
}
.discount .request .input:focus{
    outline: none;
}
.discount .request [type="submit"]{
    display: block;
    width: 100%;
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    transition: var(--main-transition);
    cursor: pointer;
}
.discount .request [type="submit"]:hover{
    background-color: var(--main-color-alt);
}
@media (max-width: 991px){
    .status .box{
        flex-basis: 100%;
    }
}
/* footer */
footer{
    background-color: #191919;
    padding: 70px 0 0;
}
footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
footer .social h2{
    font-size: 50px;
    color: white;
    margin: 0;
}
footer .social .icons{
    margin-top: 30px;
}
footer .social a{
    background-color: #313131;
    border-radius: 6px;
    margin-right: 10px;
    color: #b9b9b9;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: var(--main-transition);
}
footer .social a:first-child:hover{
    background-color: #1877f2;
}
footer .social a:nth-child(2):hover{
    background-color: #1da1f2;
}
footer .social a:last-child:hover{
    background-color: #ff0000;
}
footer .social .text{
    margin-top: 30px;
    line-height: 2;
    color: #b9b9b9
}
footer .links ul li{
    padding: 15px 0;
    transition: var(--main-transition);
}
footer .links li:not(:last-child){
    border-bottom: 1px solid #444;
}
footer .links ul li:hover {
    padding-left: 10px;
}
footer .links ul li:hover a{
    color: white;
}
footer .links a{
    color: #b9b9b9;
    opacity: 0.8;
    position: relative;
    width: 100%;
    transition: var(--main-transition);
}
footer .links a::before{
    content: "\f101";
    font-family: "font awesome 5 free";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
footer .info .data{
    display: flex;
    margin-bottom: 30px;
    color: #b9b9b9;
    align-items: center;
}
footer .info .data i{
    margin-right: 10px;
    font-size: 25px;
    color: var(--main-color);
}
footer .info .text{
    line-height: 2;
    flex: 1;
}
footer .info span{
    display: block;
}
footer .image img{
    width: 76px;
    border: 4px solid white;
    margin: 2px;
}
footer .copyright{
    color: white;
    margin: 50px 0 0;
    padding: 25px 0;
    border-top: 2px solid #444;
    text-align: center;
}
@media (max-width: 767px) {
    footer{
        text-align: center;
    }
    footer .info .data{
        flex-direction: column;
    }
    footer .info .data i {
        margin-bottom: 10px;
    }
}
/* animations */
@keyframes up-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0% , 10% , 20% , 50% , 80% , 100% {
        transform: translateY(0);
    }
    40%, 60%{
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes right-move {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes moving-arrow {
    100%{
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0, 40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes change-background {
    0%, 100% {
        background-image: url(../images/discount-background1.jpg);
    }
    50% {
        background-image: url(../images/discount-background2.jpg);
    }
}